#container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 18px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  text-align: left;
}

li {
  margin: 10px 0;
}
